<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Injaz Dashboard</title>
    <!-- CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f6f9;
            padding: 20px;
        }
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 10px;
            text-align: center;
        }
        .card h5 {
            font-size: 1.25rem;
            font-weight: 600;
        }
        .card p {
            margin: 0;
        }
        .main-content {
            max-width: 1200px;
            margin: 0 auto;
        }
        .most-used-cards a {
            text-decoration: none;
            color: #333;
        }
        .most-used-cards .card {
            transition: all 0.3s ease-in-out;
        }
        .most-used-cards .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
        .hamburger {
            cursor: pointer;
            font-size: 1.5rem;
            color: #333;
        }
        a{
            text-decoration: none;
        }

        @media (max-width: 768px) {
            .col-md-6{
                width: 50%;
            }
            .col-md-6 p{
                font-size: 15px;
                font-weight:500;
            }
            .col-md-6 h5{
                font-size: 15px;
            }
            .card{
                padding: 15px 10px 15px 10px ;
                text-align: left;
            }
            
        }
    </style>
    
</head>
<body>
   
    <%- include('./navbar.ejs') %>
    <!-- Main Content -->
    <div class="main-content">
        <!-- Header Section -->
        <header class="mb-4 d-flex justify-content-between align-items-center">
            <h1 class="fw-bold"><%= currentCompany[0].name %></h1>
            <i class="fas fa-bars hamburger" id="hamburger"></i>
        </header>
          
            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="/admin/totalReceivable">
                    <div class="card text-center bg-light">
                        <h5>To Receive</h5>
                        <p class="text-success display-6">SAR <%= totalReceivable ? totalReceivable : 0 %></p>
                        <!-- <p class="text-muted">You don’t have any receivables as of now.</p> -->
                    </div></a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="/admin/totalPayable">
                    <div class="card text-center bg-light">
                        <h5>To Pay</h5>
                        <p class="display-6" style="color: red;">SAR <%= totalPayable ? totalPayable : 0 %></p>
                        <!-- <p class="text-muted">You don’t have any payables as of now.</p> -->
                    </div></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="/admin/cashInHand">
                    <div class="card text-center bg-light">
                        <h5>Cash In Hand</h5>
                        <p class="display-6" style="color: <%=totalCashInHand>0? 'rgb(46, 128, 46)':'red'%>">SAR <%= totalCashInHand ? totalCashInHand : 0 %></p>
                        <!-- <p class="text-muted">You don’t have any payables as of now.</p> -->
                    </div></a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="/admin/viewStockReport">
                    <div class="card text-center bg-light">
                        <h5>Total Stock Value</h5>
                        <p class="display-6" style="color: <%= stockValue>0? 'rgb(46, 128, 46)':'red'%>">SAR <%= Number(stockValue).toFixed(5) %></p>
                    </div></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="/admin/sales">
                    <div class="card text-center bg-light">
                        <h5>Sale List</h5>
                    </div></a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="/admin/purchases">
                    <div class="card text-center bg-light">
                        <h5>Purchase List</h5>
                    </div></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="/admin/viewItems">
                    <div class="card text-center bg-light">
                        <h5>Stock Items</h5>
                    </div></a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="/admin/viewParties">
                    <div class="card text-center bg-light">
                        <h5>Parties</h5>
                    </div></a>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="/admin/delivered">
                    <div class="card text-center bg-light">
                        <h5>Delivery</h5>
                    </div></a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="/admin/exchange-rates">
                    <div class="card text-center bg-light">
                        <h5>Calculator</h5>
                    </div></a>
                </div>
            </div>
        </div>


    <div class="modal fade" id="addCompanyModal" tabindex="-1" aria-labelledby="addCompanyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCompanyModalLabel">Add New Company</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/addCompany" method="POST">
                        <div class="mb-3">
                            <label for="companyName" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyName" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-success">Save Company</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>



<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


<script>
    function getAccessTokenFromUrl() {
    const params = new URLSearchParams(window.location.hash.substring(1));
    console.log(params.get("access_token"));
    let access_token =  params.get("access_token");
    // fetch('/business-owner/store-access-token',{
    //     method:'POST',
    //     headers: {
    //     'Content-Type': 'application/json'
    // },
    // body: JSON.stringify({access_token: params.get("access_token")})
    // })
    console.log(access_token)
    if(access_token){
        window.location.href = `/admin/viewParties#access_token=${access_token}`;
    }

}
getAccessTokenFromUrl()
</script>


<script>
    const sidebar = document.getElementById('sidebar');
    const overlay = document.getElementById('overlay');
    const hamburger = document.getElementById('hamburger');

    hamburger.addEventListener('click', () => {
        sidebar.classList.toggle('active');
        overlay.classList.toggle('active');
    });

    overlay.addEventListener('click', () => {
        sidebar.classList.remove('active');
        overlay.classList.remove('active');
    });
</script>